[submodule "third_party/rv32emu"]
	path = third_party/rv32emu
	url = https://github.com/blyt-tech/rv32emu
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd
[submodule "third_party/libretro-common"]
	path = third_party/libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "third_party/libopenmpt"]
	path = third_party/libopenmpt
	url = https://github.com/OpenMPT/openmpt
[submodule "third_party/libcxx"]
	path = third_party/libcxx
	url = https://github.com/blyt-tech/llvm-project
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://github.com/blyt-tech/musl
[submodule "third_party/flatcc"]
	path = third_party/flatcc
	url = https://github.com/dvidelabs/flatcc
